body {
    margin: 0;
    font-family: 'Proximanova opt', sans-serif;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #4c4d5f;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    padding-left: 5%;
    /* width: 20%; */
}

.logo-img {
    width: 150px;
    max-width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
}

abc {
    -webkit-box-pack: justify;
    margin-right: 40px;
    justify-content: space-between;
    font-size: 17px;
    line-height: 22px;
}

.navbar-left {
    display: flex;
    /* -webkit-box-pack: justify; */
    margin-right: 42    px;
    /* justify-content: space-between; */
    /* font-size: 17px; */
    /* line-height: 22px; */
}

.navbar-right {
    display: flex;
    margin: 10px;
}

.abc {
    cursor: pointer;
    margin: 10px;
    color: #4c4d5f;
}

/*
.navbar {
    padding: 5px;
    padding-right: 5%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.navbar-left {
    align-items: center;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.navbar-right {
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    margin-left: 10px;
} */

.right-button {
    font-size: 13px;
    color: #00b289;
    border: 1.5px solid #00b289;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

.right-button:hover {
    background-color: #00b289;
    color: #fff;
}

.signup {
    background-color: #00b289;
    color: #fff;
}